@import "vendors/bootstrap-overrides";

@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";

@import "base/reset";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/navbar";
@import "components/buttons";
@import "components/cards";

@import "layout/hero";
@import "layout/footer";

@import "pages/home";
@import "pages/cafes";
@import "pages/sobre";
