body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #fff6dd;
  color: #333;
  height: 100vh;
  position: relative;
}

:root {
  --primary: #7a5c2e;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  position: relative;
}

.cafes-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 0;
  position: relative;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}

.side-container {
  width: 50%;
  offset: unset;
  margin: 0;

}

.image {
  width: 100%;
}

.background {
  background-image: url("./Image/Espacio-cafe.jpg");
    background-size: 100%;
    background-repeat:round;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.site-header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-item {
  height: 20px;
  width: 300px;
  margin: 10px;
  padding-left: 10px;
}

.form-item-message {
  height: 50px;
  padding-top: 5px;
}

.nav-list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

.coffee-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.coffee-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 6px;
  background: white;
}

.background.cafe {
  background-image: url(./Image/Espacio-cafe.jpg);
    background-size: 100%;
}

.button, button {
  background-color: var(--primary);
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ddd;
  margin-top: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
