html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: $bg;
  color: $text;
  padding-top: 72px; // fixed-top navbar
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
